body {
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    justify-content: space-between;
}

.box {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items:center;

}

.temp{
    display:block;
    margin-top:100px;
}

.box_input{
    display:block;
    margin-top:55px;
    font-size:25px;
}

.test{
    display:flex;
    margin:50px 0 50px 0;

}


.box img{
    width: 1200px;
    height: 750px;
}

.btn:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.btn::placeholder {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
}

.submit{
    margin-left:50px;
    width:300px;
    font-weight:600;
    font-size:20px;
}